global
  maxconn 4096
  log stdout format raw local0

defaults
  log global
  mode tcp
  timeout connect 5s
  timeout client 60s
  timeout server 60s
  option tcplog

resolvers docker
  nameserver dns 127.0.0.11:53
  accepted_payload_size 8192
  hold valid 5s

frontend milter_frontend
  bind *:9900
  default_backend milter_backends

backend milter_backends
  balance roundrobin
  option tcp-check
  server-template milter 1-8 milter:9900 check resolvers docker init-addr none resolve-opts allow-dup-ip resolve-prefer ipv4
